section{
    background-image: linear-gradient(
            to right bottom,
            #f8d92cee,
            #bd3030ee), 
        url(../../img/stands.jpg);;
    
    
}
h1{
    padding-top: 20px;
    text-align:center;
}
.w3-content img {
   max-height: 500px;
   width: 100%;
   text-align: center;
}

.w3-center{
    padding-bottom:20px;
}

@media only screen and (max-width: 992px){
    .w3-content img {
        max-height: 400px;
        width: 100%;
        text-align: center;
     }
}