/*
Colors:

light red: #b31010
dark red: #521818

*/

.header {
    
    height: 85vh; /* at every point the element is '' percent of the vertical height and not the full 100% so we use it to make vertical positions smaller */

    background-image: linear-gradient(
        to right bottom,
        #ff7575cc  ,
        #d61212d0 ), 
    url(../../img/texasgrasspic.jpg);

    background-size: cover; /* whatever the width of the viewport it will always try to fit the whole element in the viewport */

    background-position: center; /* the top of image always stays at the top instead of staying relevant to screen proportions */

    margin-top: 10px;
    position: relative;
    background-attachment: fixed; /* background scroll with the page*/
}

.intro{
    position: absolute;
    top: 55%;
    left: 55px;
    right: 55px;
}

#welcomeTitle {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 50;
    font-family: 'Open Sans' , sans-serif;
    color: white;

    animation-name: titleMoveIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    
}

#about{
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0;

    animation-name: titleMoveIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;

}



#introListUl{
    list-style-type: none;
    
}

#introListUl li{
    float: left;
    padding: 15px;
    
    animation-name: titleMoveIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-fill-mode: backwards;

}

.event{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    
    justify-content: space-around;
}

.card {
    height: 620px;
    width: 420px;
    border-radius: 20px;

}
.eventSection {
    margin-top: 20vh;
    padding-top: 20px;
    padding-bottom: 20px;
    

    background-image: linear-gradient(
        to right bottom,
        #ebebebe0 ,
        #f8d92ca8 ,
        #e63030d8 ), 
    url(../../img/texasgrasswide.jpg);

    background-size: cover; /* whatever the width of the viewport it will always try to fit the whole element in the viewport */

    background-position: center; /* the top of image always stays at the top instead of staying relevant to screen proportions */

    
    position: relative;
    background-attachment: fixed; /* background scroll with the page*/
 
}


.homeEventTitle{
    font-family: "Montserrat" , sans-serif;
    font-size: 40px;
    font-weight: 400;;
    letter-spacing:1px;
    color: white;
    text-align: center;
}

.eventInfo{
    padding-top: 30px;
    text-align: center;
}

.eventInfo p{
    font-size: 45px;
    line-height: 110px;

    background: -webkit-linear-gradient(#ffffff,#ffffff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position:relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.btn-white {
    margin-top: 60px;
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    transition: all .4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBtn .5s ease-out .75s;
    animation-fill-mode:backwards;
}

/*
triple the size of the basketball

add the links for the instagram and twittwer

lighter 
could go gold 

*/
.vidSection{
    margin-top: 0vh;
    padding-bottom: 60px;
    text-align: center;

    background-image: linear-gradient(
        to right bottom,
        #f8d92cee,
        #bd3030ee), 
    url(../../img/texasgrassonegy.jpg);

    background-size: cover; /* whatever the width of the viewport it will always try to fit the whole element in the viewport */

    background-position: center; /* the top of image always stays at the top instead of staying relevant to screen proportions */

    
    position: relative;
    background-attachment: fixed; /* background scroll with the page*/

}

.eventTypo{
    margin-top: 20vh;
    padding-top: 20px;
    padding-bottom: 20px;
}



iframe {
    
    padding-top: 40px;
    
}




footer{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #bd3030ee;
}

.homeEventTitle{
    padding-top: 20px;
}

@keyframes titleMoveIn {
    /* 0% is the start of the animation */
    0% { 

        /* move down -30px at the start and opacity is 0*/
        opacity:0;
        transform: translateY(-30px);
    }

    /*a point in the middle of the animation*/
    80% {
        
    }

    /* 100% is when the animation is complete */
    100% {
        /* ath the end opacity is 1 and its back to the original position*/
        opacity: 1;
        transform: translate(0);
    }

   

}

.eventPage{

    background-image: linear-gradient(to right bottom, #ff5959e0,  #fffd9fd8 );
    
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .header {
    
        height: 85vh; /* at every point the element is '' percent of the vertical height and not the full 100% so we use it to make vertical positions smaller */
    
    }
    
    .intro{
        position: absolute;
        top: 55%;
      
    }
    
    #welcomeTitle {
        font-size: 40px;
        letter-spacing: 1px;
        font-weight: 50;
        font-family: 'Open Sans' , sans-serif;
        color: white;
    
        
    }
    
    #about{
        
       
 
    }

    #introListUl{
        list-style-type: none;
        
    }
    
    #introListUl li{
        float: left;
        padding: 10px;
        
        animation-name: titleMoveIn;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-delay: 2s;
        animation-fill-mode: backwards;
    
    }
    
    
   
    
    .card {
        height: 320px;
       
        border-radius: 20px;
    
    }
    .eventSection {
        margin-top: 20vh;
        padding-top: 20px;
        padding-bottom: 20px;
         
     
    }
    
    
    .homeEventTitle{
        font-family: "Montserrat" , sans-serif;
        font-size: 30px;
        font-weight: 400;;
        letter-spacing:1px;
        color: white;
        text-align: center;
    }
    
    .eventInfo{
        padding-top: 30px;
        text-align: center;
    }
    
    .eventInfo p{
        font-size: 30px;
        line-height: 110px;
    
        background: -webkit-linear-gradient(#ffffff,#ffffff );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
    
    .vidSection{
        
        padding-bottom: 60px;
        text-align: center;
    
    
    }
    
    .eventTypo{
      
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    
    
    iframe {
        
        padding-top: 40px;
        width: 95%;
        height: 620px;
    }
    
    footer{
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #bd3030ee;
    }
    

  

}

/* devices (portrait tablets and large phones, 992px and down) */
@media only screen and (max-width: 992px) {
    
   
    .header {
    
        height: 80vh; /* at every point the element is '' percent of the vertical height and not the full 100% so we use it to make vertical positions smaller */
    
    }
    
    .intro{
        position: absolute;
        top: 10%;
        left: 20px;
        right: 20px;
    }
    
    #welcomeTitle {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 35px;
        font-weight: 50;
        font-family: 'Open Sans' , sans-serif;
        color: white;
        text-align: center;
        
    }
    
    #introListUl{
        list-style-type: none;
        line-height: 20px;
        padding-top:40px;
        display: block;
        position: relative;
      
        
    }

    #introListUl li p {
      font-size: 10px;
      
    }
    
    
    #introListUl li{
        
       
        padding-top: 80px;
        padding-left: 5%;
        padding-right: 5%;
        animation-name: titleMoveIn;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-delay: 2s;
        animation-fill-mode: backwards;
        display: inline;
        align-self: center;
    
    }

    #about{
        text-align: center;
        padding-top: 30px;
        font-size: 15px;
        font-weight: 100;
        letter-spacing: 1;
        line-height: 25px;
 
    }
    .linksHead{
       text-align: center;
    }
    
    
    .event{
        display: flex;
        flex-direction: column;
        margin-top:20px;
        height: 70vh;
       
        padding-bottom: 50px;
    }
    
   
    .card {
        width: 221px;
        height: 300px;
        border-radius: 20px;
        
        align-self: center;
        
    }
    .eventSection {
        margin-top: 10vh;
        padding-top: 10px;
       
        
     
    }
    
    
    .homeEventTitle{
        font-family: "Montserrat" , sans-serif;
        font-size: 30px;
        font-weight: 400;;
        letter-spacing:1px;
        color: white;
        text-align: center;
        padding-top: px;
        padding-bottom: 20px;
    }
    
    .eventInfo{
        
        text-align: center;
    }
    
    .eventInfo p{
        font-size: 20px;
        line-height: 50px;
    
        background: -webkit-linear-gradient(#ffffff,#ffffff );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
    .btn-white {
        margin-top: 10px;
        background-color: #fff;
        color: #777;
    }
    
    .vidSection{
       
       
        text-align: center;
    
    
    }
    
    .eventTypo{
        margin-top: 10vh;
        
        
    }
    
    
    
    iframe {
        
        padding-top: 20px;
        width: 90%;
        height: 200px;
    }
    
    footer{
        height: 20vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #bd3030ee;
    }

    .btn:link,
    .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 30px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position:relative;
    }

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    }

    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    }

    .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
        transition: all .4s;
    }

    .btn-white::after{
        background-color: #fff;
    }

    .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    .btn-animated {
        animation: moveInBtn .5s ease-out .75s;
        animation-fill-mode:backwards;
    }
 
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
    
    .header {
    
        height: 85vh; /* at every point the element is '' percent of the vertical height and not the full 100% so we use it to make vertical positions smaller */
    
    }
    
    .intro{
        position: absolute;
        top: 55%;
        left: 55px;
        right: 55px;
    }
    
    #welcomeTitle {
        font-size: 50px;
        letter-spacing: 1px;
        font-weight: 50;
        font-family: 'Open Sans' , sans-serif;
        color: white;
    
        
    }
    
    #about{
        font-size: 15px;
        font-weight: 100;
        letter-spacing: 0;
 
    }
    
    
    .event{
        
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    
        justify-content: space-around;
        
    }
    
    .card {
        height: 500px;
        width: 350px;
        border-radius: 20px;
    
    }
    .eventSection {
        margin-top: 20vh;
        padding-top: 20px;
        padding-bottom: 20px;
         
     
    }

    
    
    
    .homeEventTitle{
        font-family: "Montserrat" , sans-serif;
        font-size: 30px;
        font-weight: 400;
        letter-spacing:1px;
        color: white;
        text-align: center;
    }
    
    .eventInfo{
        padding-top: 30px;
        text-align: center;
    }
    
    .eventInfo p{
        font-size: 30px;
        line-height: 110px;
    
        background: -webkit-linear-gradient(#ffffff,#ffffff );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
    
    .vidSection{
        margin-top: 20vh;
        padding-bottom: 60px;
        text-align: center;
    
    
    }
    
    .eventTypo{
        margin-top: 20vh;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    
    
    iframe {
        
        padding-top: 40px;
        width: 95%;
        height: 620px;
    }
    
    footer{
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #bd3030ee;
    }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
    .header {
    
        height: 85vh; /* at every point the element is '' percent of the vertical height and not the full 100% so we use it to make vertical positions smaller */
    
    }
    
    .intro{
        position: absolute;
        top: 55%;
        left: 55px;
        right: 55px;
    }
    
    #welcomeTitle {
        font-size: 50px;
        letter-spacing: 1px;
        font-weight: 50;
        font-family: 'Open Sans' , sans-serif;
        color: white;
    
        
    }
    
    #about{
        font-size: 15px;
        font-weight: 100;
        letter-spacing: 0;
 
    }
    
    
    .event{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        height:70vh;
        justify-content: space-around;
    }
    
    .card {
        margin-top: 30px;
        height: 450px;
        
        border-radius: 20px;
    
    }
    .eventSection {
        margin-top: 20vh;
        padding-top: 20px;
        padding-bottom: 20px;
         
     
    }
    
    
    .homeEventTitle{
        font-family: "Montserrat" , sans-serif;
        font-size: 40px;
        font-weight: 400;;
        letter-spacing:1px;
        color: white;
        text-align: center;
        
    }
    
    .eventInfo{
        padding-top: 30px;
        text-align: center;
    }
    
    .eventInfo p{
        font-size: 45px;
        line-height: 90px;
    
        background: -webkit-linear-gradient(#ffffff,#ffffff );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
    
    .vidSection{
        margin-top: 20vh;
        padding-bottom: 60px;
        text-align: center;
    
    
    }
    
    .eventTypo{
        margin-top: 20vh;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    
    
    iframe {
        
        padding-top: 40px;
        
    }
    
    footer{
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #bd3030ee;
    }


    .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position:relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.btn-white {
    margin-top: 60px;
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    transition: all .4s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBtn .5s ease-out .75s;
    animation-fill-mode:backwards;
}
}


@media only screen and (max-height: 641px) {
 
    #about{
        
        font-weight: 100;
        letter-spacing: 0;
 
    }
    
    
   
    
    .card {
        height: 475px;
       
        border-radius: 20px;
    
    }
    .eventSection {
        margin-top: 5vh;
        padding-top: 15px;
        padding-bottom: 20px;
         
     
    }

  
        

}