/*
Colors:

light red: #b31010
dark red: #521818

*/

*{
    /* where we remove the browser defaults */

    margin: 0;
    padding: 0;
    box-sizing: border-box; /* removes padding and border to an element */

}


body {
    
    
    font-family: "Montserrat" , sans-serif; /* font we imported from google fonts */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* spacing between lines */
    color: rgb(255, 255, 255); /*targets the text color */
    

    background-image: linear-gradient(
        to right,
        #d1d1d1,
        #ffdfdfea ), 
    url(../img/D6A_8415A.jpg);
    
}

nav{
    height: 8vh;
    position: relative;
    margin-bottom: 20px;
}

.navBar{
    list-style-type: none;
    padding-top: 10px;
    
    
}

.navBar li {

    float:left; /* use this so that our nav starts on the left */ 

    font-size: 32px;

    text-align: center;

    padding-right: 30px;

    padding-left: 20px;
}

.navBar li a{

    text-decoration: none;
    color: rgb(252, 64, 64);
}

nav img{
    height: 100px;
    position:absolute;
    text-align: center;
    right: 0px;
    top: 0px;
    transform: translate(-50%, -20%);


}





  /* form css*/
.form{
    width:65vw;
    position: relative;
    height: 50px;
    overflow: hidden;
    
}
.form input {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 5px;
    border: none;
    outline: none;
    background-color: #cfcfcfee;
    border-radius: 5px;
}
.form label {
   
    bottom:0px;
    left: 1px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgb(255, 255, 255);
    color: rgb(248, 237, 237);
    border-bottom: 1px solid black;
    padding-left: 5px;

}
.form label::after{
    content:"";
    position: absolute;
    left: 0px;
    bottom:-1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #f8d92cee;
    transform:translateX(-100%);
    transition: all 0.7s ease;
}
.content-name {
    position: absolute;
    bottom: 8px;
    left: 0px;
    transition: all 0.3s ease;
    padding-left: 5px;

}

.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
    transform: translateY(-80%);
    font-size: 14px;
    color:#b31010;
    padding-left: 5px;
}

.form input:focus .label-name::after, .form input:valid + .label-name::after {
    transform: translateX(0%);
    
    
}



.hamNav{
    width: 0%;
    overflow-x:hidden;
    height: 100vh;
    z-index: 1 ;
    position:fixed;
    background-color: rgba(137, 134, 139, 0.349);
    transition: 0.5;
    display: block;
  
}

.hamNav a{
    text-align: center;
    color: white;
    font-size: 22px;
    display: block;
    text-decoration: none;
    padding: 1.5em 0;
    transition: 0.3s ease-out;
    
}

.close {
    position: relative;
    
    top:3vh;
    
}

.hamNav a:not(:first-child):hover{
    
    background-color: #f7f7f7;

        
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    body{
        padding: 0px;
    }

    nav{
        display:block;
    }
    .navBar{
        display: none;
    }

    nav li {
        display: none;
    }

    nav img{
        height: 100%;
        
        position:static;
        
        left: 50vw;
        
        transform: translate(0%, 0%);
    }

  

}

/* devices (portrait tablets and large phones, 992px and down) */
@media only screen and (max-width: 992px) {

    body{
        padding: 0px;
    }

    nav{
        display:block;
    }
    .navBar{
        display: none;
    }

    nav li {
        display: none;
    }
    
    nav img{
        height: 90%;
        position:absolute;
        text-align: center;
        right: 0px;
        top: 0px;
        transform: translate(-50%, 25%);
    }

    .open {


        color:white;
        font-size:25px;
       
        position:relative ;

        display: block;
        cursor: pointer;
        left: 3px;
        padding-left:5%;
        top:3vh;
        
     
    }

    .wrapper{
       
        position:absolute;
        top: 0px;
        right:0px;
        width: 100%;
    }

    .hamNav {

        width: 100%;
        overflow-x:hidden;
        height: 100vh;
        z-index: 1 ;
        position:fixed;
        background-color: rgba(226, 51, 28, 0.89);
        transition: 0.5;
        display: block;
    }

 
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
            
    body {
    
        padding: 30px;
        
    }

    nav {
        height: 6vh;
        position: relative;
        margin-bottom: 20px;
    }
    
    .navBar {

        list-style-type: none;
        padding-top: 10px;
        margin-left: 15px ;
        
    }

    .navBar li {

        float:left; /* use this so that our nav starts on the left */ 

        font-size: 24px;

        text-align: center;

        padding-right: 15px;

        padding-left: 10px;
    }
    
    nav img {

        height: 80px;
        position:absolute;
        text-align: center;
        right: 0px;
        top: 0px;
        transform: translate(-50%, -20%);

    }

    .open {

        color:rgb(24, 22, 22);
        font-size:30px;
        
        display: none;
        cursor: pointer;
    }

    
    .hamNav{
        width: 0%;
        overflow-x:hidden;
        height: 100vh;
        z-index: 1 ;
        position:fixed;
        background-color: rgba(196, 178, 207, 0.349);
        transition: 0.5;
        display: none;
    }

    .wrapper{
        display: none;
    }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    body{
        padding: 30px;
    }

    
    nav{
        height: 8vh;
        position: relative;
        margin-bottom: 20px;
    }
    
    .navBar{
        list-style-type: none;
        padding-top: 10px;
        margin-left:20px ;
        
    }
    
    .navBar li {
    
        float:left; /* use this so that our nav starts on the left */ 
    
        font-size: 32px;
    
        text-align: center;
    
        padding-right: 20px;
    
        padding-left: 15px;
    }
    
    .navBar li a{
    
        text-decoration: none;
        color: rgb(252, 64, 64);
    }
    
    nav img{
        height: 100px;
        position:absolute;
        text-align: center;
        right: 0px;
        top: 0px;
        transform: translate(-50%, -20%);
    }


    



}

@media only screen and (max-height: 772px) {
    nav img {

        height: 70px;
        position:absolute;
        text-align: center;
        right: 0px;
        top: 0px;
        transform: translate(-50%, 0%);

    }
}