/*
Colors:

light red: #b31010
dark red: #521818

*/

*{
    /* where we remove the browser defaults */

    margin: 0;
    padding: 0;
    box-sizing: border-box; /* removes padding and border to an element */

}


body {
    
    font-family: "Montserrat" , sans-serif; /* font we imported from google fonts */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* spacing between lines */
    color: rgb(255, 255, 255); /*targets the text color */
    padding: 30px;
    background-color:#0c0c0c
}

nav{
    height: 8vh;
    
}

.navBar{
    list-style-type: none;
    padding-top: 10px;
}

.navBar li {

    float:left; /* use this so that our nav starts on the left */ 

    font-size: 32px;

    text-align: center;

    padding-right: 30px;

    padding-left: 10px;
}

.navBar li a{

    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav img{
    height: 70px;
    text-align: center;
    float: right;
    padding-bottom: 13px;
    margin-right: 5%;
}

