*{
    /* where we remove the browser defaults */

    margin: 0;
    padding: 0;
    box-sizing: border-box; /* removes padding and border to an element */

}


body {
    
    font-family: "Montserrat" , sans-serif; /* font we imported from google fonts */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* spacing between lines */
    color: rgb(0, 0, 0); /* targets the text color */
    padding: 30px;

}

nav{
    height: 8vh;
    
}

.navBar{
    list-style-type: none;
    padding-top: 10px;
}

.navBar li {

    float:left; /* use this so that our nav starts on the left */ 

    font-size: 32px;

    text-align: center;

    padding-right: 30px;

    padding-left: 10px;
}

.navBar li a{

    text-decoration: none;
    color: black;
}

nav img{
    height: 70px;
    text-align: center;
    float: right;
    padding-bottom: 13px;
    margin-right: 5%;
}

.header {
    
    height: 85vh; /* at every point the element is '' percent of the vertical height and not the full 100% so we use it to make vertical positions smaller */

    background-image: url(../img/headbasketballpic.jpg);

    background-size: cover; /* whatever the width of the viewport it will always try to fit the whole element in the viewport */

    background-position: center center; /* the top of image always stays at the top instead of staying relevant to screen proportions */

    margin-top: 20px;
    position: relative;
}